{% overextends "tournamentcontrol/competition/team.html" %}

{% block section-title %}
	<div class="col-md-3 col-sm-12 logo {{ team.club.abbreviation }}"></div>
	<div class="col-md-9 col-sm-12">
		<h3 class="mbr-section-title display-2">{{ team.title }}</h3>
		<small class="mbr-section-subtitle">
			{% url 'competition:season' competition.slug season.slug as season_url_1 %}
			{% url 'competition:season' season.slug as season_url_2 %}
			<a href="{{ season_url_1|default:season_url_2 }}">{{ competition.title }} - {{ season.title }}</a><br>
			{% url 'competition:division' competition.slug season.slug division.slug as division_url_1 %}
			{% url 'competition:division' season.slug division.slug as division_url_2 %}
			<a href="{{ division_url_1|default:division_url_2 }}">{{ division.title }}</a>
		</small>
	</div>
{% endblock section-title %}

{% block counters %}{% endblock counters %}
