{% load i18n %}
{% load common competition %}
<div class="teamlist">
<h4 class="flag big {{ team.club.abbreviation }}">{{ team }}</h4>
<table class="{{ team.club.abbreviation }}">
	<thead>
		<tr>
			<th>#</th>
			<th>{% trans "Player" %}</th>
			<th class="a" colspan="6">{% trans "1st Half" %}</th>
			<th class="a" colspan="6">{% trans "2nd Half" %}</th>
			<th class="a" colspan="2">{% trans "OT" context "Overtime, abbreviated" %}</th>
			<th class="discipline">{% trans "Discipline" %}</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th></th>
			<th class="signature">{% trans "Signature" %}</th>
			<th class="a" colspan="4"></th>
			<th class="subtotal" colspan="2"></th>
			<th class="a" colspan="4"></th>
			<th class="subtotal" colspan="2"></th>
			<th class="a" colspan="2">Score</th>
			<th class="total"></th>
		</tr>
	</tfoot>
	<tbody>
		{% for player in team|players:16 %}
			<tr>
				<td>{{ player.number|default:"" }}</td>
				<td>{% if player %}{{ player.person.last_name|htmlentities }}, {{ player.person.first_name|htmlentities }}{% endif %}</td>
				{% for half in "first,second"|split:"," %}
					{% for col in "abcdef" %}
						<td class="score {{ half }} half {{ col }}"></td>
					{% endfor %}
				{% endfor %}
				<td class="score overtime a"></td>
				<td class="score overtime b"></td>
				<td class="discipline"></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<p>Prior to the game please ensure that you cross off ALL players who are not participating.</p>
</div>
