@page {
  margin: 0.25cm 1cm;
}
h1 {
  font-size: 120%;
}
h2 {
  font-size: 115%;
}
h3 {
  font-size: 110%;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
}
section {
  page-break-before: always;
}
header {
  background-image: url("../images/jtc-logo-horizontal-white.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center right;
}
header h1,
header h2 {
  text-align: center;
  prince-bookmark-level: none;
}
header h2 {
  color: #003a70;
  text-transform: uppercase;
  margin: 3mm 0 2mm;
}
header h3 {
  display: none;
  prince-bookmark-level: 1;
}
article .teamlist {
  page-break-inside: avoid;
}
article h4 {
  font-size: 150%;
  margin: 0;
  padding: 0;
}
article table {
  border-collapse: collapse;
  border: solid 1px black;
  font-size: 10pt;
  width: 100%;
}
article table th,
article table td {
  border: solid 1px black;
  height: 5mm;
}
article table th:first-child,
article table td:first-child,
article table th.score,
article table td.score {
  text-align: center;
  width: 7mm;
}
article table th.a,
article table td.a,
article table th.discipline,
article table td.discipline {
  border-left-width: 2px;
}
article table th.discipline,
article table td.discipline {
  width: 21mm;
}
article table th.total,
article table td.total,
article table th.subtotal,
article table td.subtotal {
  border-left-width: 2px;
  border-top-width: 2px;
}
article table th:nth-child(2),
article table td:nth-child(2) {
  padding: 0 4px;
}
article table th {
  border-bottom-width: 2px;
  font-weight: bold;
  text-align: center;
}
article table tfoot th {
  height: 1cm;
}
article table tfoot th:nth-child(2) {
  text-align: left;
}
article table tfoot th:nth-child(2):after {
  content: ":";
}
article p {
  color: #900;
  font-size: 10pt;
  font-weight: bold;
  padding: 2mm 3mm;
  text-align: center;
}
dl {
  border-bottom: solid 1px black;
  display: inline-block;
  font-size: 90%;
  width: 100%;
}
dl dt,
dl dd {
  float: left;
  margin: 0;
}
dl dt {
  font-weight: bold;
  padding-right: 0.25em;
}
dl dt:after {
  content: ":";
}
dl dd {
  padding-right: 0.5em;
}
.referees {
  border: solid 2px black;
  font-size: 10pt;
  padding: 2mm 3mm;
}
.referees strong:after {
  content: ":";
}
.flag {
  background-repeat: no-repeat !important;
  margin: 0 0 2px !important;
  /* Countries that don't have an ISO 3166 alpha-2 code */
  /*
  .flag-wrapper-name(KEL, Kelpies, @size);
  .flag-wrapper-name(STA, Stags, @size);
  .flag-wrapper-name(CRU, Crusaders, @size);
  .flag-wrapper-name(DEV, Devils, @size);
  .flag-wrapper-name(FAL, Falcons, @size);
  .flag-wrapper-name(FRE, Frenchies, @size);
  .flag-wrapper-name(KEL, Kelpies, @size);
  .flag-wrapper-name(KNI, Knights, @size);
  .flag-wrapper-name(ROY, Royals, @size);
  .flag-wrapper-name(STA, Stags, @size);

  .flag-wrapper-name(DRA, Dragons, @size);
  .flag-wrapper-name(GUE, Guernsey, @size);
  .flag-wrapper-name(LIN, Linces, @size);
  .flag-wrapper-name(LIO, Lions, @size);
  .flag-wrapper-name(PUM, Pumpernickels, @size);
  .flag-wrapper-name(ROO, Roosters, @size);
  .flag-wrapper-name(SCH, Scholars, @size);
  .flag-wrapper-name(STE, "Steibök", @size);
  */
}
.flag.big {
  background-position: 10.5px 0 !important;
  background-size: 42px 42px !important;
  height: 31.5px;
  padding: 8.4px 0 0 63px !important;
}
table.CRU {
  background-image: url("../images/clubs/Crusaders.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.CRU td,
table.CRU th {
  background: rgba(255, 255, 255, 0.8);
}
table.DEV {
  background-image: url("../images/clubs/Devils.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.DEV td,
table.DEV th {
  background: rgba(255, 255, 255, 0.8);
}
table.FAL {
  background-image: url("../images/clubs/Falcons.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.FAL td,
table.FAL th {
  background: rgba(255, 255, 255, 0.8);
}
table.FRE {
  background-image: url("../images/clubs/Frenchies.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.FRE td,
table.FRE th {
  background: rgba(255, 255, 255, 0.8);
}
table.KEL {
  background-image: url("../images/clubs/Kelpies.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.KEL td,
table.KEL th {
  background: rgba(255, 255, 255, 0.8);
}
table.KNI {
  background-image: url("../images/clubs/Knights.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.KNI td,
table.KNI th {
  background: rgba(255, 255, 255, 0.8);
}
table.ROY {
  background-image: url("../images/clubs/Royals.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.ROY td,
table.ROY th {
  background: rgba(255, 255, 255, 0.8);
}
table.STA {
  background-image: url("../images/clubs/Stags.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.STA td,
table.STA th {
  background: rgba(255, 255, 255, 0.8);
}
table.DRA {
  background-image: url("../images/clubs/Dragons.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.DRA td,
table.DRA th {
  background: rgba(255, 255, 255, 0.8);
}
table.GUE {
  background-image: url("../images/clubs/Guernsey.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.GUE td,
table.GUE th {
  background: rgba(255, 255, 255, 0.8);
}
table.LIN {
  background-image: url("../images/clubs/Linces.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.LIN td,
table.LIN th {
  background: rgba(255, 255, 255, 0.8);
}
table.LIO {
  background-image: url("../images/clubs/Lions.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.LIO td,
table.LIO th {
  background: rgba(255, 255, 255, 0.8);
}
table.PUM {
  background-image: url("../images/clubs/Pumpernickels.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.PUM td,
table.PUM th {
  background: rgba(255, 255, 255, 0.8);
}
table.ROO {
  background-image: url("../images/clubs/Roosters.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.ROO td,
table.ROO th {
  background: rgba(255, 255, 255, 0.8);
}
table.SCH {
  background-image: url("../images/clubs/Scholars.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.SCH td,
table.SCH th {
  background: rgba(255, 255, 255, 0.8);
}
table.STE {
  background-image: url("../images/clubs/Steibök.png");
  background-size: 10cm;
  background-repeat: no-repeat;
  background-position: center;
}
table.STE td,
table.STE th {
  background: rgba(255, 255, 255, 0.8);
}
