<!DOCTYPE html>
<html>
{% load cache i18n static %}
{% load common competition %}
<head>
	<title>{{ competition.title }} {{ season.title }}</title>
	<link rel="stylesheet" href="{% get_static_prefix %}css/reset-min.css" />
	<link rel="stylesheet" href="{% get_static_prefix %}css/scorecard.css" />
</head>
<body>
	{% for match in matches %}
		<section class="match">
			<header>
				<h1>European Score Sheet</h1>
				<h2>{{ match.stage.division.season.competition.title }} &ndash; {{ match.stage.division.season.title }}</h2>
				<h3>{{ match.stage.division.title }}: {{ match.get_home_team.title }} vs {{ match.get_away_team.title }}</h3>
			</header>

			<dl>
				<dd class="uid">{{ match.uuid|upper }}</dd>
				<dt>Field</dt>
				<dd>{{ match.play_at.title|default:"" }}</dd>
				<dt>Date</dt>
				<dd>{{ match.date|date:"j/n/Y"|default:"" }}</dd>
				<dt>Time</dt>
				<dd>{{ match.time|time:"G:i"|default:"" }}</dd>
				<dt>Division</dt>
				<dd>{{ match.stage.division.title }}</dd>
			</dl>

			<article>
				{% with team=match.get_home_team %}
					{% cache 60 "scorecard-team" team.title match.stage.division.title %}
						{% include "tournamentcontrol/competition/admin/scorecards/_team_list.html" %}
					{% endcache %}
				{% endwith %}
				{% with team=match.get_away_team %}
					{% cache 60 "scorecard-team" team.title match.stage.division.title %}
						{% include "tournamentcontrol/competition/admin/scorecards/_team_list.html" %}
					{% endcache %}
				{% endwith %}
			</article>

			<div class="referees">
				<strong>Referees</strong>
			</div>
		</section>
	{% endfor %}
</body>
</html>
