{% overextends "base.html" %}

{% block navbar-brand %}
	<a href="/" class="navbar-logo">
		<img src="{{ STATIC_URL }}images/jtc-logo-horizontal.png" alt="{{ request.tenant.name }}">
	</a>
{% endblock navbar-brand %}

{% block analytics %}
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-104492435-1', 'auto');
		ga('send', 'pageview');
	</script>
{% endblock analytics %}
